@model ManteqSecurityTest.Controllers.LoginViewModel
<div class="padding-left-20">
    <div class="row">
        <ul class="nav navbar-nav">
            <li id="liManageModule">
                <div data-role="tile" class="tile-wide bg-teal fg-white">
                    <h3 class="tile-label">
                        Manage Modules
                    </h3>
                </div>
            </li>
            <li id="liManageLicence">
                <div data-role="tile" class="tile-wide bg-darkBlue fg-white">
                    <h3 class="tile-label">
                        Manage Licences
                    </h3>
                </div>
            </li>
            <li id="liModulesLicences">
                <div data-role="tile" class="tile-wide bg-blue fg-white">
                    <h3 class="tile-label">
                        Manage Modules and Licences
                    </h3>
                </div>
            </li>
            <li id="liManageTenant">
                <div data-role="tile" class="tile-wide bg-steel fg-white">
                    <h3 class="tile-label">
                        Manage Tenants
                    </h3>
                </div>
            </li>
        </ul>
    </div>
</div>
@section Scripts {

    <script>
        $(function () {
            $("#liManageModule").click(function () {
                window.location.href = "/Module/Index";
            });
            $("#liManageLicence").click(function () {
                window.location.href = "/Licence/Index";
            });
            $("#liManageTenant").click(function () {
                window.location.href = "/Tenant/Index";
            });
        });
    </script>
}
