
@{
    ViewBag.Title = "TenantA";
}
<div class="container">
    <h2>TenantA</h2>
    <div class="row">
        <ul class="nav navbar-nav">
            <li id="liClemittance">
                <div data-role="tile" class="tile bg-teal fg-white">
                    <h3 class="tile-label">
                        Clemittance
                    </h3>
                </div>
            </li>
            <li id="liCura">
                <div data-role="tile" class="tile bg-darkBlue fg-white">
                    <h3 class="tile-label">
                        Cura
                    </h3>
                </div>
            </li>
        </ul>
    </div>
</div>
@section Scripts {

    <script>
        $(function () {
            $("#liClemittance").click(function () {
                window.location.href = "/home/Clemittance";
            });
            $("#liCura").click(function () {
                window.location.href = "/home/Cura";
            });
        });
    </script>
}