
@{
    ViewBag.Title = "TenantB";
}

<h2>TenantB</h2>
<div class="row">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Clemittance", "Clemittance", "Home")</li>
        <li>@Html.ActionLink("Cura", "Cura", "Home")</li>
    </ul>
</div>
